<div class="container-fluid ">

  
   <div class="container educacion">
       <h2 class=" text-info">Educacion</h2>
       <div class="row">
           <div class="list-group ">
               <div class="list-group-item  ">
                 <div class="d-flex w-100 justify-content-between">
                   <h5 class="mb-1">List group item heading</h5>
                   <small>3 days ago</small>
                 </div>
                 <p class="mb-1">Some placeholder content in a paragraph.</p>
                 <small>And some small print.</small>
               </div>
             </div>
             <div class="list-group ">
               <div class="list-group-item  ">
                 <div class="d-flex w-100 justify-content-between">
                   <h5 class="mb-1">List group item heading</h5>
                   <small>3 days ago</small>
                 </div>
                 <p class="mb-1">Some placeholder content in a paragraph.</p>
                 <small>And some small print.</small>
               </div>
             </div>
       </div>
   </div>
</div>
