<div class="container-fluid ">

  
    <div class="container habilidades">
        <h2 class=" text-info">Habilidades <span class="text-secondary">(hard & soft skills)</span></h2>
        <div class="row">
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#a8a8a8'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
              
        </div>
        <div class="row">
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#a8a8a8'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
            <div class="col-md-2">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [imageSrc]="'../assets/CSS3.png'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [space]="10"
                    [outerStrokeColor]="'#eaf551'"
                    [innerStrokeColor]="'#000000'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [responsive]="true"
                ></circle-progress>
            </div>
              
        </div>
    </div>
 </div>