<div class="container-fluid sobremi">
    <div class="row">
        <div class="col-md-2">
            <img class="fotoperfil" src="../../../assets/fotoperfil1.jpg" alt="" width="100%">
        </div>
        <div class="col-md-10">
            <h2 class="text-info" >Lautaro Gutierrez </h2>
            <h5 class="text-secondary fst-italic">Full Stack Developer Jr.</h5>
            <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repudiandae ipsum, perspiciatis iure accusantium culpa quis similique? Velit assumenda doloribus possimus enim consequuntur distinctio, voluptatibus illo rem asperiores, soluta vero.</p>
        </div>

    </div>
</div>
